* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
    max-width: 100%;
}

.top-header .container {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 0 0;
}

.page-header {
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 2px dashed green;
}

.top-header {
  height: 100px;
  display: flex;
  flex-direction: row;
  border: 2px dashed orange;

}


.page-header .container {
  display: flex;
  align-items: center;
}

.page-header .header-item {
  padding-top: 20px;
  padding-bottom: 20px;
padding-left: 0;

  background-color: #d2a741;
  border: 2px dashed black;
}
.page-header .logo-container {
  padding-left: 20px;
  padding-right: 50px;
  max-width: 500px;
  color: white;
  border: 2px dashed blue;
}

.page-header .link-container {
  flex-basis:80%;
  display: flex;
  flex-direction: row;

}
.page-header .link-container-start{
  text-align: left;
  padding-left: 10px;
  color: white;
  display: flex;
  padding-right: 300px;
}

.page-header .link-container-start ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.page-header .link-container-start li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


img[alt="Logo Boolean"] {width: 400px;
}

.page-header .link-container-end {
  padding-left: 300px;
  display: inline block;
  color: white;
  padding-right: 10px;
}

.page-header .link-container-end ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;

}

.bottom-header {
  padding: 40px 0;
 background-image: "../img/jumbo.png";
  background-color: #000085;
  border: 2px dashed black;
}

.bottom-header > .container {
  background-color: #E087E8;
  margin: auto;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  width: 800px;
justify-content: center;
align-self: center;
  border: 1px dashed black;
}