* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.page-header {
  height: 500px;
  display: flex;
  border: 2px dashed green;
}

.row
{display: flex;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  max-width: 100%;
  border: 2px dashed orange
;
}

h1 {
  text-align: center;

}
.container-xl
{
  padding-top:40px;
  justify-content: center;
  width: 1400px;
  background-color: aqua;
}

.container-xlb
{
  display: flex;
  padding-top:40px;
  justify-content: space-between;
  width: 1400px;
  background-color: gray;
}
.page-header .link-start{
 text-align: left;
  padding-left: 10px;
  border: 2px dashed orange;
}

.page-header ul
{display: inline-block;}

.page-header .header-start ul {
display: inline-block;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}

.page-header .header-start li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.page-header .link-end {
  padding-right: 10px;
  border: 2px dashed red;
}

.page-header .header-end ul {
  display: inline-block;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;

}
.col-20 {
  width: 20%;
  border: 1px dashed blue;
}

.col-30 {
  width: 30%;
  border: 1px dashed blue;
}

.col-40 {
  width: 40%;
  border: 1px dashed blue;
}

.col-60 {
  width: 60%;
  border: 1px dashed blue;
}
.col-70
{
  width: 70%;
  border: 1px dashed blue;
}
.gallery .top-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.gallery .bottom-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 .plans {
  margin:0 auto;
  padding-top: 80px;
  width: 1200px;
  max-width: 100%;
 }
.gallery {
  margin: 0 0;
  width: 1200px;
  max-width: 100%;
  border: 3px dashed darkblue;
}
.card {
  width: calc(100% / 3 - 20px);
ì
  height: 600px;
  position: relative;
  border: 1px dashed brown;

}

.big-card {
  width: 100%;
  height: 300px;
  margin-top: 30px;
  border: 1px dashed brown;



}
 .card .title-card {
  width: 100%;
  height: 50px;
  position: relative;
  margin: 0;
  border: 1px dashed brown;

 }


 .footer {
  height: 500px;
  background-color: gray;}